
<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full">
    <%= form.text_field :title, class: "title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none w-full", placeholder: "Title" %>
  </div>

    <%= form.text_area :description, class: "description bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none w-full", placeholder: "Description" %>

  <div class="buttons  btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500">
    <%= form.submit class: "cursor-pointer" %>
  </div>
<% end %>
